body {
  margin: 0;
  background: #f6f7f8;
}

.start-position {
  position: absolute;
  left: 232px;
  top: 96px;
  width: calc(100% - 232px);
}

.board-header {
  display: flex;
  width: calc(100% - 152px);
  justify-content: space-between;
  align-items: center;
  padding-top: 79.5px;
  padding-right: 88px;
  padding-bottom: 79.5px;
  padding-left: 64px;
}
.board-header h1 {
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-block-start: 0;
  margin-block-end: 0;
}
.board-active {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
.board-active input {
  display: flex;
  width: 312px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  /* background: url(/assets/img/board/Frame\ 122.png) no-repeat 96%; */
  border-radius: 10px;
  border: 1px solid var(--icon, #a8a8a8);
  background-color: #fff;
}
.board-active button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: #2a3647;
  cursor: pointer;
  color: white;
}
.board-active button:hover {
  background-color: rgb(40, 171, 226);
  border-color: rgb(40, 171, 226);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.input-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  position: relative;
  right: 16%;
}
.search-img:hover {
  background-color: lightgrey;
  border-radius: 20px;
  cursor: pointer;
}
/* .board-top {

} */
.drag-drop-headline {
  display: flex;
  padding: 0px 64px;
  justify-content: space-between;
  align-items: flex-start;
}
.each_drag_drop {
  display: flex;
  width: 244px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: relative; /* Hinzugefügt: position relative für das z-index */
}

/* .each_drag_drop img {
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #091931;
  object-fit: cover;
}

.each_drag_drop img:hover {
  cursor: pointer;
  z-index: 1;
  position: relative;
  background: url(/assets/img/board/Capa1-blue.png) no-repeat 50%;
  border: 2px solid var(--Ligth-blue, #29abe2);
  object-fit: cover;
} */

.addTask {
  position: relative;
}

.black-plus {
  cursor: pointer;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #091931;
}

.blue-plus {
  display: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 8px;
  border: 2px solid var(--Ligth-blue, #29abe2);
  object-fit: cover;
}

.addTask:hover .blue-plus {
  display: flex;
}
.addTask:hover .black-plus {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 15px;
}

/* drag and drop fläche */

.drag-area {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px dashed black;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.drag-area-highlight {
  background-color: rgba(0, 0, 0, 0.2);
}

.task {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.description-font {
  align-self: stretch;
  color: var(--icon, #a8a8a8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
