@media (min-width: 320px) and (max-width: 450px) {
    .task-card::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 6px;
        width: 4px;
    }

    .task-card::-webkit-scrollbar-thumb {
        background-color: rgb(40, 171, 226);
        border-radius: 6px;
    }

    .board-header {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .board-search {
        position: absolute;
        top: 70%;
        width: 100%;
    }

    .full-subtasks-area {
        width: 100%;
    }

    .unsorted-list {
        width: 100%;
    }
    
    .board-active input {
        width: 100%;
    }

    .header-task-btn {
        display: none;
    }

    .board-active button {
        width: 100%;
    }

    .drag-drop-headline {
        flex-direction: column;
        padding: 0;
        padding-bottom: 128px;
    }

    .each_drag_drop {
        padding-bottom: 64px;
        width: 100%;
    }

    .start-position {
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .board-top {
        width: 100%;
        padding: 0 12px;
    }

    .flex {
        width: 100%;
    }

    .drag-area {
        flex-direction: row;
        overflow-x: auto;
        justify-content: flex-start;
        width: 95%;
    }

    .flex span {
        font-size: 32px;
    }

    .black-plus {
        width: 24px;
        height: 24px;
    }

    .blue-plus {
        width: 24px;
        height: 24px;
    }

    .completeCard {
        width: 90%;
        height: 75%;
    }

    .edit-container {
        left: 0;
    }

    .task-card {
        width: 100%;
        height: 90%;
        overflow-y: auto;
    }

    .middle-task-body {
        flex-direction: column;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
    }

    .vektor-line {
        display: none;
    }

    .add-task-footer {
        bottom: auto;
        padding-bottom: 12px;
        left: 12px;
        width: 93%;
    }

    .task-title {
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }

    .cancel-btn {
        font-size: 12px;
    }

    .task-button {
        font-size: 12px;
    }

    .task-button-area {
        width: 100%;
    }

    .task-title input {
        width: 100%;
    }

    .prio-btn {
        width: 100%;
        font-size: 14px;
    }

    #description-input {
        width: 100%;
    }

    .date-img {
        left: 88%;
        position: absolute;
        bottom: 12px;
    }

    .task-date-area {
        position: relative;
        width: 100%;
    }

    .Assigned-img {
        position: absolute;
        right: 8px;
    }

    .Assigned-img-subtask {
        position: relative;
        right: 0;
    }

    .task-contact-input-area {
        position: relative;
        width: 100%;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }

    .task-select-category {
        width: 100%;
    }

    .selected-task:hover {
        width: 100%;
    }

    .subtask-complete {
        width: 100%;
    }

    .task-contact-input-area {
        position: relative;
        width: 100%;
    }

    .subtask-main-input {
        width: 100%;
    }

    .subtask-comment {
        position: absolute;
    }

    .task-card-headline {
        font-size: 42px;
    }

    .font-size {
        font-size: 16px;
    }
}

@media (min-width: 450px) and (max-width: 1385px) {
    .start-position {
        left: 200px;
        width: calc(100% - 170px);
    }
}

@media (min-width: 450px) and (max-width: 1350px) {
    .start-position {
        left: 175px;
        width: calc(100% - 175px);
    }
}

@media (min-width: 450px) and (max-width: 1130px) {

    .task-card::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 6px;
        width: 4px;
    }

    .task-card::-webkit-scrollbar-thumb {
        background-color: rgb(40, 171, 226);
        border-radius: 6px;
    }

    .task-card {
        width: 90%;
        overflow-y: auto;
    }

    .vektor-line {
        display: none;
    }

    .middle-task-body {
        flex-direction: column;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
    }

    .left-side {
        width: 90%;
    }

    .right-side {
        width: 90%;
    }

    .task-title {
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }

    .task-title input {
        width: 100%;
    }

    #description-input {
        width: 100%;
    }

    .task-contact-input-area {
        position: relative;
        width: 100%;
    }

    .task-title input {
        width: 100%;
    }

    .Assigned-img {
        position: absolute;
        right: 8px;
    }

    .task-title {
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }

    .task-date-area {
        position: relative;
        width: 100%;
    }

    .task-button-area {
        width: 100%;
    }

    .prio-btn {
        width: 100%;
        font-size: 14px;
    }

    .task-contact-input-area {
        position: relative;
        width: 100%;
    }

    .task-title input {
        width: 100%;
    }

    .subtask-complete {
        width: 100%;
    }

    .full-subtasks-area {
        width: 100%;
    }

    .unsorted-list {
        width: 100%;
    }

    .task-contact-input-area {
        position: relative;
        width: 100%;
    }

    .subtask-main-input {
        width: 100%;
    }

    .subtask-comment {
        position: absolute;
    }

    .Assigned-img-subtask {
        position: relative;
        right: 0;
    }

    .add-task-footer {
        bottom: auto;
        padding-bottom: 12px;
        left: 12px;
        width: 90%;
    }

    .font-size {
        font-size: 16px;
        padding-left: 24px;
    }

    .task-button {
        font-size: 12px;
    }

    .task-button {
        font-size: 12px;
    }

    .date-img {
        left: 96%;
        position: absolute;
        bottom: 12px;
    }
}

@media (min-width: 320px) and (max-width: 1350px) {
    .drag-drop-headline {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media (min-width: 320px) and (max-width: 1060px) {
    .drag-drop-headline {
        gap: 40px;
        padding-bottom: 124px;
        justify-content: center;
    }
}

@media (min-width: 320px) and (max-width: 975px) {
    .board-header {
        position: relative;
        padding-left: 0;
        padding-right: 12px;
        width: 100%;
    }

    .board-search {
        position: absolute;
        top: 70%;
        width: 100%;
    }

    .board-active input {
        width: 100%;
    }

    .start-position {
        width: 100%;
        left: 0;
        padding-left: 24px;
    }
}