body {
  margin: 0;
  background: #f6f7f8;
}

.d-none {
  display: none !important;
}

.start-position {
  position: absolute;
  left: 232px;
  top: 96px;
  width: calc(100% - 232px);
}

.board-header {
  display: flex;
  width: calc(100% - 152px);
  justify-content: space-between;
  align-items: center;
  padding-top: 79.5px;
  padding-right: 88px;
  padding-bottom: 79.5px;
  padding-left: 64px;
}

.board-header h1 {
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.board-active {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.board-active input {
  display: flex;
  width: 312px;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--icon, #a8a8a8);
  background-color: #fff;
  padding-block: 1px;
}

.board-active button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: #2a3647;
  cursor: pointer;
  color: white;
  width: 160px;
  height: 48px;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.board-active button:hover {
  background-color: rgb(40, 171, 226);
  border-color: rgb(40, 171, 226);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.board-search {
  position: relative;
}

.input-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 12px;
  top: 8px;
}

.search-img:hover {
  background-color: lightgrey;
  border-radius: 20px;
  cursor: pointer;
}

.drag-drop-headline {
  display: flex;
  padding: 0px 64px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.each_drag_drop {
  display: flex;
  width: 244px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.flex span {
  color: var(--menu-color, #42526e);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 24px */
}

.addTask {
  position: relative;
}

.black-plus {
  cursor: pointer;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #091931;
}

.blue-plus {
  display: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 8px;
  border: 2px solid var(--Ligth-blue, #29abe2);
  object-fit: cover;
}

.addTask:hover .blue-plus {
  display: flex;
}

.addTask:hover .black-plus {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 15px;
}

/* drag and drop fläche */

.drag-area {
  display: flex;
  min-height: 90px;
  min-width: 260px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px dashed var(--icon, #a8a8a8);
  background: #e7e7e7;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 4px;
  box-sizing: border-box;
}

.drag-area-highlight {
  background-color: rgba(0, 0, 0, 0.2);
}

.task {
  width: 252px;
  padding: 16px;
  justify-content: center;
  border-radius: 24px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  cursor: pointer;
}

.description-font {
  align-self: stretch;
  color: var(--icon, #a8a8a8);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  word-break: break-word;
}

.bottom-task {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prio-position {
  position: absolute;
  right: 16px;
}

.done-style {
  margin-bottom: 15px;
  color: var(--menu-color, #42526e);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 24px */
}

/* progressbar */

.progressbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 128px;
  height: 8px;
  border-radius: 8px;
  background: #f4f4f4;
}

.progress-task {
  display: flex;
  padding: 0px 6px 2px 0px;
  align-items: center;
  gap: 11px;
  width: 100%;
}

.subtask-display {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 76px;
}

.subtask-img {
  cursor: pointer;
  padding: 2px;
}

.subtask-img:hover {
  background-color: white;
  border-radius: 15px;
}

#subtask-edit {
  position: absolute;
  width: 385px;
  height: 40px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid blue;
  color: black;
}

#subtask-done-img {
  cursor: pointer;
}

#subtask-done-img:hover {
  background-color: white;
  border-radius: 20px;
}

/* ab hier kommt die add task card von html aus gesehen oben nach unten */
/* header sektion */
.add-task-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 74px;
  padding-top: 64px;
  padding-right: 40px;
}

.task-card {
  width: 1116px;
  height: 870px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-card-headline {
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.task-close-X {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.task-close-X:hover {
  background-color: rgb(220 217 217);
  border-radius: 20px;
  cursor: pointer;
}

/* mittlere sektion */

.middle-task-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 74px;
  padding-top: 32px;
  padding-right: 65.75px;
}

/* linke hälfte */

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 50%;
}

.task-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 440px;
}

.font-line {
  color: var(--Version-2-main-color, #2a3647);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.task-title input {
  display: flex;
  width: 440px;
  height: 48px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
  color: var(--Style, #d1d1d1);
}

#description-input {
  display: flex;
  height: 120px;
  padding: 18px 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;
  width: 440px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.task-contact-input-area {
  display: flex;
  align-items: center;
}

.subtask-main-input {
  display: flex;
  width: 440px;
  height: 48px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: var(--white, #fff);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--Style, #d1d1d1);
}

.subtask-comment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  right: 8px;
}

.Assigned-img {
  position: relative;
  right: 35px;
  cursor: pointer;
}

.Assigned-img:hover {
  background-color: #c9d7dc;
  border-radius: 20px;
}

.Assigned-img-subtask {
  position: relative;
  right: 72px;
  cursor: pointer;
}

.Assigned-img-subtask:hover {
  background-color: #c9d7dc;
  border-radius: 20px;
}

.px24 {
  width: 24px;
  height: 24px;
}

.subtask-complete {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 440px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.task-button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.prio-btn {
  width: 136px;
  height: 56px;
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border-color: white;
  cursor: pointer;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.prio-btn:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3), -1px 3px 5px rgba(0, 0, 0, 0.3);
}

.task-select-category {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3), -1px 3px 5px rgba(0, 0, 0, 0.3);
  margin-top: -8px;
  border-radius: 10px;
}

#task-category-input {
  color: black;
}

.selected-task {
  display: flex;
  width: 440px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.selected-task:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#input-subtasks {
  color: black;
}

#task-title-input {
  color: black;
}

.full-subtasks-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 36px;
  padding: 6px 8px;
  padding-left: 19.375px;
  position: relative;
}

.full-subtasks-area:hover {
  background-color: lightgrey;
  border-radius: 16px;
}

.unsorted-list {
  padding-inline-start: 0;
}

.subatsk-headline {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
}

/* 
.unsorted-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 6px 16px;
}

.unsorted-list:hover {
  background-color: lightgrey;
  border-radius: 16px;
} 

/* für addTask ab hier footer bereich */

.add-task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 64px;
  left: 74px;
  width: 80%;
}

.add-task-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.task-button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid var(--Version-2-main-color, #2a3647);
  cursor: pointer;
}

.cancel-btn {
  background-color: transparent;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.subtask-card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cancel-btn:hover {
  border: 1px solid var(--Ligth-blue, #29abe2);
  color: var(--Ligth-blue, #29abe2);
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3), -2px 5px 8px rgba(0, 0, 0, 0.3);
}

.create-btn {
  background: #2a3647;
  color: white;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.create-btn:hover {
  background-color: var(--Ligth-blue, #29abe2);
  border: 1px solid var(--Ligth-blue, #29abe2);
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3), -2px 5px 8px rgba(0, 0, 0, 0.3);
}

/* dem Board die addTask optik hier einzusehen */

.full-task-body {
  position: fixed;
  top: 50%;
  left: 100%;
  /* Startposition außerhalb des sichtbaren Bereichs */
  transform: translate(0%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  transition: left 0.5s ease-in-out;
}

.full-task-body.open {
  left: 0;
  /* Endposition für das Öffnen des Containers */
}

/* Design für task card */
.d-none-card {
  display: none !important;
}

.completeCard {
  display: flex;
  width: 525px;
  padding: 48px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  color: var(--black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  height: 930px;
  overflow: auto;
}


.card-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #29292963;
  z-index: 10000;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card {
  align-self: stretch;
  color: var(--black, #000);
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.title-card p {
  margin-block-start: 0;
  margin-block-end: 0;
  word-break: break-word;
}

.card-category-img {
  width: 160px;
  height: 36px;
}

.taskcard-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.description-card p {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-block-start: 0;
  margin-block-end: 0;
  word-break: break-word;
}

.priority-card {
  display: flex;
  align-items: center;
  gap: 25px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.subtask-card {
  display: flex;
  height: 32px;
  padding: 6px 16px;
  align-items: center;
  gap: 16px;
}

.subtask-card img {
  cursor: pointer;
}

.subtaskcard-footer-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.subtaskcard-footer-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.subtaskcard-bottom-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  position: relative;
  top: 24px;
}

/***** Ab hier wird die Edit task bereich designt *****/

.edit-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #29292963;
  z-index: 10001;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-card-btn {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #2A3647;
  color: #FFF;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.edit-card-btn:hover {
  background-color: var(--Ligth-blue, #29abe2);
  border: solid var(--Ligth-blue, #29abe2);
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3), -2px 5px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.right-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.date-img {
  position: relative;
  bottom: 36px;
  left: 400px;
  cursor: pointer;
}

#date {
  color: black;
}

/* contact area */

.contact-area {
  width: 100%;
  height: 180px;
  overflow-y: auto;
  border: 1px solid lightgrey;
  border-top: none;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3), -1px 3px 5px rgba(0, 0, 0, 0.3);
  margin-top: -8px;
  border-radius: 10px;
}

.contact-area::-webkit-scrollbar {
  width: 10px;
  background-color: white;
  border-radius: 6px;
}

.contact-area::-webkit-scrollbar-thumb {
  background-color: rgb(40, 171, 226);
  border-radius: 6px;
}

.completeContactArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 18px;
  font-family: 'inter';
  font-size: 20px;
}

.completeContactArea:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  border-radius: 10px;
}

.selected {
  background-color: #2A3647;
  color: white;
  border-radius: 12px;
  border: 1px solid white;
}

.selected:hover {
  background-color: #2A3647;
  color: white;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.name-circle-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -8px;
}

.initials {
  position: absolute;
  color: white;
  font-size: 14px;
}

.contact-icon-area {
  display: flex;
  align-items: center;
}

.icon-name-pair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 10px;
}