/************************* CONTACTS INFOS  *************************/

.contact-infos-box__mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 21px;
  top: 127px;
  left: 10%;
  width: fit-content;
  height: 364px;
  z-index: 3;
}

.blue-arrow-left {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 128px;
  right: 29px;
  z-index: 4;
}

.blue-arrow-left:hover{
  cursor: pointer;
}

#contacts-slogan-box__mobile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: -20px;
  align-items: flex-start;
}

#contacts-slogan__mobile {
  font-size: 47px;
  font-weight: 700;
  height: 47px;
}

#contacts-slogan-txt__mobile {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

#contact-infos-mobile__name-eclipse {
  display: flex;
  align-items: center;
  gap: 20px;
}

#contact-infos-mobile__eclipse {
  width: 80px;
  height: px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

#contact-infos-mobile__eclipse>svg {
  height: 80px;
  width: 80px;
}

#contact-infos-mobile__eclipse>span {
  font-size: 27px;
}


#contact-infos-mobile__name {
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#contact-information__mobile {
  box-sizing: content-box;
  display: flex;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#contact-infos-mobile__email-phone-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

#contact-infos-mobile__email-frame,
#contact-infos-mobile__phone-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

#contact-infos-mobile__email-txt,
#contact-infos-mobile__phone-txt {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#contact-infos-mobile__email {
  color: #007CEE;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#contact-infos-mobile__phone {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/************************* ADD CONTACT TEMPLATE *************************/
.add-contact-frame-mobile {
  position: absolute;
  width: 396px;
  height: 760px;
  /* border: solid #29ABE2; */
  border-radius: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

.person-circle {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%)
    /* transform: translate(-50%, -50%); */
}

.add-contact-mobile__slogan-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-left: 31px;
  padding-top: 90px;
}

.add-contact-mobile__slogan-header {
  font-size: 47px;
  font-weight: 700;
  color: #FFFFFF
}

.add-contact-mobile__slogan-txt {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF
}

.add-contact-mobile__top {
  position: relative;
  height: 46%;
  background-color: #2A3647;
  border-radius: 20px 20px 0 0;
}


.add-contact-mobile__bottom {
  height: 54%;
  background-color: #FFFFFF;
  border-radius:0 0 20px 20px;

}

.blue-stroke-horizontal {
  border: solid 1.5px #29ABE2;
  width: 90px;
}

.close-x__wrapper {
  display: flex;
  justify-content: flex-end;
  box-sizing: content-box;
  padding: 12px;
  /* padding-bottom: 64px; */
  margin-left: auto;
}


.input-fields-mobile__add-task {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}


.add-contact__mobile-form {
  width: 90%;
  margin: 0 auto;
  border: solid transparent
}

.more-options-mobile{
  display:block;
  position: absolute;
  right: 7px;
  bottom: 105px;
  z-index: 5;
  width: 124px;
  height: 108px;
}

/************************* EDIT CONTACT TEMPLATE *************************/

.edit-contact{
  position: absolute;
  top: 15px;
  right: 13px;
  z-index: 10;
}

.edit-contact:hover{
  cursor: pointer;
}

.delete-contact{
  position: absolute;
  bottom: 15px;
  right: 13px;
  z-index: 10;
}

.delete-contact:hover{
  cursor: pointer;
}

.create-btn__mobile {
  display: flex;
  margin: 0 auto;
  margin-top: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #2A3647;
  width: 202px;
  height: 51px;
}


.create-btn__mobile:hover{
  cursor: pointer;
}

.input-field__mobile {
  display: flex;
  position: relative;
  font-family: "Inter";
  height: 41px;
  width: 100%;
  border-radius: 10px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #d1d1d1;
  cursor: auto;
}

.input-field__mobile:focus{
  outline: none;  
  border: solid #29ABE2 1px;
}

.input-field__mobile::placeholder{
  font-size: 16px;
}

.animation-btn{
  height: 30px;
  width: 100px;
  border: solid orange;  
  margin: 0 auto;
  margin-top: 25px;
} 

.form-btns-frame__mobile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.create-btn__mobile-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #2A3647;
  width: 99px;
  height: 51px;
}

.create-btn__mobile-edit:hover {
  cursor: pointer;
  background-color: #29ABE2;
}

.cancel-btn__mobile {
  width: 82px;
  height: 51px;
  border: 1px solid #2A3647;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: flex-start; */
}

.cancel-btn-content__mobile {
  display: flex;
  align-items: center;
}

/************************* CONTACT CREATED SUCCESSFULLY *************************/
.contact-created-successfully{
  position: absolute; 
  bottom: 30%; 
  right: 50%; 
  transform: translateX(50%);
  z-index: 10;
}


/************************* MOBILE ELEMENTES *************************/
.mobile-add-contact-btn{
  display: none;
}

.mobile-add-contact-btn:hover{
  cursor: pointer;
}


.more-options-circle:hover{
cursor: pointer;
}

/************************* TRANSITIONS *************************/

@keyframes slideinFromButtom {
  from {
    transform: translate(-50%, 50%);
  }

  to {
    transform: translate(-50%,-50%);
  }
} 

.add-contact-transition__mobile{
  animation-name: slideinFromButtom;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out;
}

@keyframes slideAwayToButtom {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, 200%);
  }
  
}

.add-contact-transition__remove{
  animation-name: slideAwayToButtom;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out;
}

@keyframes contactAdded{
  from {
    transform: translate(50%, 250%);
  }

  to {
    transform: translate(50%, 0);
  }
}

.succesfully-created-buttom-to-top{
  animation-name: contactAdded;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out;
}

@keyframes contactAddedToBottom {
  from {
    transform: translate(50%, 0);
  }

  to {
    transform: translate(50%, 500%);
  }
}

.succesfully-created-top-to-bottom{
  animation-name: contactAddedToBottom;
  animation-duration: 0.6s; 
  animation-timing-function: ease-out;
}

/*! Test Button for animation delete!  */
.test-button{
  width: 100px; 
  height: 50px;
  border: solid orange; 
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
/*! Test Button for animation delete!  */

/************************* DISPLAY CLASSES *************************/
.d-none {
  display: none !important;
}

/************************* RESPONSINESS *************************/


@media (max-width: 1000px) {
  .mobile-add-contact-btn{
    display: block;
  }
}

@media (max-width: 414px) {
  .add-contact-frame-mobile{
    width: 95%;
  }
}
