/************************* GLOBAL SELECTORS *************************/

@font-face {
  font-family: "inter";
  /* Gewünschter Name */
  src: url("/assets/fonts/inter-font.ttf");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

/************************* HEADER *************************/
#header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  z-index: 999;
  width: 100%;
  top: 0;
  font-family: inter;
  font-weight: 200;
  background-color: white;
  height: 96px;
  padding: 0 40px 0 348px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

#header-text {
  font-size: 20px;
}

#help-icon-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

#icon-help {
  width: 32px;
  height: 32px;
}

#circle {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
  border: solid #2A3647 2.5px
}

/************************* SIDEBAR *************************/

#sidebar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  z-index: 999;
  width: 232px;
  height: 100vh;
  padding: 64px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #2A3647;
}

#sidebar-tabs {
  color: #A8A8A8
}

#sidebar-tabs>a {
  text-decoration: none;
  color: #A8A8A8;
}

#sidebar-tab {
  box-sizing: border-box;
  display: flex;
  width: 232px;
  height: 46px;
  padding: 8px 56px;
  align-items: center;
  gap: 8px;
}

#sidebar-tab:hover {
  background-color: #2A3D59;
  cursor: pointer;
}

#legal-notice {
  display: flex;
  padding: 243px 0px 0px 52px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

#legal-notice>a:hover {
  color: #29ABE2;
  cursor: pointer;
  font-weight: bold;
}

#legal-notice>a {
  color: #A8A8A8;
  text-decoration: none;
}

/************************* FOOTER *************************/

#nav-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0px 16px;
  background-color: #2A3647;
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.footer-square {
  display: flex;
  width: 80px;
  height: 76px;
  padding: 8px 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
}

.icon-text-box {
  display: flex;
  width: 76px;
  height: 76px;
  padding: 15px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.footer-square-text {
  color: var(--white, #FFF);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/************************* RESPONSIVNESS *************************/
@media (max-width: 975px) {
  #sidebar {
    display: none
  }
}

@media (min-width: 975px) {
  #nav-footer {
    display: none
  }
}

@media (max-width: 717px) {
  #header {
    padding: 20px 16px;
  }
}

@media(max-width: 420px) {
  #nav-footer {
    padding: 0;
  }

  .footer-square {
    width: 73px;
  }

}