/************************* GLOBAL SELECTORS *************************/

@font-face {
  font-family: "inter";
  /* Gewünschter Name */
  src: url("/Join/");
}

/************************* HEADER *************************/

#header{
  font-family: inter;
  font-weight: 200;
  height: 56px;
  display:flex;
  padding: 20px 40px 20px 348px; 
}