/************************* GLOBAL SELECTORS *************************/

@font-face {
  font-family: "inter";
  /* Gewünschter Name */
  src: url("./assets/fonts/inter-font.ttf");
}

/************************* HEADER *************************/

#header{
  color: red;
  font-family: inter;
}