body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}


.join-logo {
  width: 100.03px;
  height: 121.97px;
  position: relative;
  top: 50px;
  left: 77px;
}

.join-logo-animation {
  z-index: 2;
  animation: logo-mid-to-upper-left 1s ease-in;
  /* position: relative; */
}

@keyframes logo-mid-to-upper-left {
  from {
    transform: translate(100%, 100%);
    width: 274px;
    height: 334.07px;
  }

  to {
    transform: translate(0%, 0%);
    width: 100.03px;
    height: 121.97px;
  }
}

.fading-animation {
  animation: fading-in 2s;
  opacity: 1;
}

@keyframes fading-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sign-up {
  display: flex;
  width: 297px;
  gap: 35px;
  align-items: baseline;
  position: relative;
  top: 50px;
}


.sign-up button {
  height: 49px;
  width: 91px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  padding: 15px;
  background-color: rgb(43, 54, 71);
  color: white;
  border: none
}

.sign-up button:hover {
  background-color: rgb(40, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sign-up-mobile {
  display: none;
  width: 297px;
  gap: 35px;
  align-items: baseline;
  position: relative;
  top: 50px;
}

.sign-up-mobile button {
  font-size: 16px;
  font-weight: 700;
  height: 49px;
  width: 96px;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px;
  background-color: rgb(43, 54, 71);
  border: none;
  color: white;
}

.sign-up-mobile button:hover {
  background-color: rgb(40, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


/* LogIn Section */

.login-body {
  margin-top: 120px;
  display: flex;
  padding: 48px 115px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: white;
  border-radius: 30px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

h1 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 73px;
}

.login-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login-buttons {
  display: flex;
  gap: 35px;
  position: relative;
  left: 39px;
}

.login-input {
  font-family: "Inter";
  height: 48px;
  width: 422px;
  border-radius: 10px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #d1d1d1;
}

.login-input:focus {
  outline: none;
  border: solid #29ABE2 1px;
}

#img-lock {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 19px;
  cursor: pointer;
}


.log-in-btn {
  width: 110px;
  height: 48px;
  border-radius: 8px;
  gap: 10px;
  background-color: #2a3647;
  color: white;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  border: none;
}

.log-in-btn:hover {
  background-color: rgb(40, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.guest-log-in-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 48px;
  border-radius: 8px;
  gap: 10px;
  color: #2a3647;
  border-radius: 8px;
  border: 1px solid #2a3647;
  background-color: white;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  border-color: #2a3647;
}

.guest-log-in-btn:hover {
  color: rgb(40, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-color: rgb(40, 171, 226);
}

.remember-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 24px;
  position: relative;
  left: 39px;
  gap: 8px;
}

.password-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.email-containter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 422px; */
}

.login-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
}

.login-checkbox-label {
  width: 110px;
  height: 19px;
}

#rectangle {
  cursor: pointer;
}

#rectangle:hover {
  box-shadow: 0 0 10px rgba(169, 169, 169, 0.6);
}

/* Footer Sektion */

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 98%;
  margin-top: 20px;
}

footer a {
  display: inline-block;
  padding: 8px;
  align-items: center;
  gap: 8px;
  color: var(--icon, #a8a8a8);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

footer a:hover {
  color: rgb(40, 171, 226);
}

.footer-div {
  width: 128px;
  height: 35px;
}

/************************* RESPONSIVNESS *************************/

@media (max-width: 750px) {
  .login-body {
    padding: 32px 16px;
    width: 90%;
    margin-top: 64px;
  }


  .login-buttons {
    flex-direction: column;
    margin: 0 auto;
    left: 0;
    gap: 21px;
  }

  .log-in-btn {
    width: 180px;
  }

  .join-logo {
    width: 64px;
    height: 78px;
    top: 24px;
    left: 32px;
  }

  h1 {
    font-size: 47px;
    font-weight: 700;
  }

  .email-containter {
    width: 90%;
    margin: 0 auto;
  }

  .password-container {
    width: 90%;
    margin: 0 auto;
  }

  .login-input {
    width: 100%;
  }

  .sign-up {
    height: fit-content;
    position: absolute;
    bottom: 50px;
    display: none;
  }

  .sign-up-mobile {
    display: flex;
    position: unset;
    margin: 0 auto;
    margin-top: 40px;
    width: fit-content;
    height: fit-content;
    border: none;
  }

  .sign-up-mobile span {
    font-size: 20px;
  }

  footer {
    position: unset;
    margin-top: 38px;
    padding-bottom: 32px;
    gap: 10px;
  }

  .log-in-btn {
    font-size: 16px;
    font-weight: 700;
  }

  .guest-log-in-btn {
    font-size: 16px;
    font-weight: 700;
  }

  .vector-line {
    width: 77px;
    height: 4px;
  }

  .remember-container {
    margin: 16px 0;
  }
}

@media (max-width: 580px) {
  .login-body {
    width: 85%
  }
}

/************************* DISPLAY CLASSES *************************/

.d-none {
  display: none;
}