/************************* GLOBAL SELECTORS *************************/
@font-face {
  font-family: "Inter";
  /* Gewünschter Name */
  src: url("/assets/fonts/inter-font.ttf");
}

body {
  background-color: #F6F7F8;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  stroke: none;
}

a:focus {
  outline: 0
}

a:link,
a:visited {
  text-decoration: none;
}

/************************* HEADER *************************/
#join-logo-sign-up {
  margin-top: 80px;
  margin-left: 77px;
  width: 100.03px;
  height: 121.97px;
}

/************************* SIGN-UP-FRAME *************************/
.sign-up-form{
  width: 100%;
}

#sign-up-success_txt {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#sign-up-frame-wrapper {
  width: 100%;
  margin-top: -20px;
}

#sign-up-frame {
  box-sizing: content-box;
  background-color: white;
  margin: 0 auto;
  width: 442px;
  display: flex;
  padding: 48px 88px;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.sign-up-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 32px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#back-arrow-blue {
  position: absolute;
  top: 20px;
  left: -147px;
}

.blue-storke {
  margin-top: 16px;
  width: 150px;
  align-self: center;
}

/************************* INPUTS *************************/
#input-fields-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.input-field-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 422px;
}

.input-field {
  display: flex;
  position: relative;
  font-family: "Inter";
  height: 48px;
  width: 100%;
  border-radius: 10px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #d1d1d1;
  cursor: auto;
}

.input-field__img-placing {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

.input-field:focus {
  outline: none;
  border: solid #29ABE2 1px;
}

/************************* CHECKBOX *************************/
#checkbox-frame {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

/************************* SEND BUTTON *************************/
#privacy-policy-checkmark-frame {
  display: flex;
  align-items: center;
  width: 231px;
  height: 24px;
}

#accept {
  margin-left: 8px;
  color: #A8A8A8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#privacy-policy {
  margin-left: 4px;
  color: #29ABE2;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#button-sign-up {
  display: flex;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #2A3647;
}

#sign-up-button-text {
  color: #FFF;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/************************* FOOTER *************************/
footer {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  position: absolute;
  bottom: 35px;
}

footer a {
  font-family: "Inter";
  display: inline-block;
  padding: 8px;
  align-items: center;
  gap: 8px;
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
}



/************************* RESPONSIVNESS *************************/

@media (max-width: 1017px) {
  #join-logo-sign-up {
    margin-top: 37px;
    margin-left: 38px;
    width: 64px;
    height: 78px;
  }

  #sign-up-frame-wrapper {
    margin-top: 51px;
  }
}

@media (max-width: 750px) {
  #sign-up-frame {
    box-sizing: content-box;
    padding: 32px 0;
  }


  .sign-up-header {
    font-size: 47px;
  }

  .blue-storke {
    width: 88px;
  }

  .input-field-box {
    width: 90%;
  }

  #back-arrow-blue {
    top: 9px;
    left: -91px;
  }

  #button-sign-up {
    width: 180px;
    height: 51px;
    padding: 4px 0px;
  }

  #sign-up-button-text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  #sign-up-frame{
    width: 90%;
  }

  #back-arrow-blue {
    top: 9px;
    left: -48px;
  }


}
/************************* TRANSITIONS ANIMATIONS *************************/
.grey-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up-success {
  display: none;
  position: absolute;
  bottom: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 999;
  width: fit-content;
  height: 74px;
  padding: 0px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  animation: slideInFromBottom 0.9s ease-out;
  background: #2A3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}


@keyframes slideInFromBottom {
  0% {
    transform: translate(50%, 700%);
  }

  30% {
    transform: translate(50%, -50%);
  }

  100% {
    transform: translate(50%, -50%);
  }
}