/************************* GLOBAL SELECTORS *************************/
@font-face {
  font-family: "Inter";
  /* Gewünschter Name */
  src: url("/assets/fonts/inter-font.ttf");
}


body {
  background-color: #F6F7F8;
  margin: 0;
}

/************************* HEADER *************************/
#join-logo {
  margin-top: 80px;
  margin-left: 77px;
  width: 100.03px;
  height: 121.97px;
}

/************************* SIGN-UP-FRAME *************************/
#sign-up-frame {
  position: absolute;
  background-color: white;
  top: 197px;
  left: 421px;
  display: inline-flex;
  padding: 48px 88px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.sign-up-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.blue-storke {
  margin-top: 16px;
  width: 150px;
  align-self: center;
}

#input-fields-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.login-input {
  background-size: 24px;
  font-family: "Inter";
  height: 48px;
  width: 422px;
  border-radius: 10px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #d1d1d1;
  cursor: auto;
}

.mail-img {
  background: url(/assets/img/log_in/mail.png) no-repeat 96%;
}