/************************* GLOBAL SELECTORS *************************/
@font-face {
  font-family: "Inter";
  /* Gewünschter Name */
  src: url("/assets/fonts/inter-font.ttf");
}

body {
  background-color: #F6F7F8;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/************************* HEADER *************************/
#summary-header {
  position: absolute;
  display: flex;
  gap: 30px;
  left: 328px;
  top: 206px;
  font-family: Inter;
  display: flex;
  align-items: center;
}

#join-360 {
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#metrics-glance {
  color: #2A3647;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/************************* METRICS BOX *************************/
#metrics-frame {
  position: absolute;
  top: 335px;
  left: 328px;
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

#todo-done-frame {
  display: flex;
  width: 560px;
  height: 168px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.todos-frame {
  display: flex;
  width: 264px;
  height: 168px;
  padding: 38px 58px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10)
}

.different-padding {
  padding: 38px 19px;
}

.number-do-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.do-styling {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}


/************************* URGENCY SUMMARY *************************/
#urgency-frame {
  display: flex;
  width: 560px;
  height: 168px;
  padding: 28px 48px;
  justify-content: center;
  align-items: center;
  gap: 61px;
  border-radius: 30px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

#urgency-icon-box {
  position: relative;
  width: 60px;
  height: 60px;
}

.urgent-eclipse,
.urgent-arrows {
  position: absolute;
}

.urgent-arrows {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#urgency-counter-icon-frame {
  display: flex;
  align-items: center;
  gap: 18px;
}

#counter-urgent-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urgent-counter {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}


#deadline-date-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}

#deadline-date {
  color: #2A3647;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#counters-squares-frame {
  display: flex;
  width: 560px;
  height: 170px;
  padding: 1px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

.square-frame {
  display: flex;
  width: 168px;
  height: 168px;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.count-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-number {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.count-text {
  color: #2A3647;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/************************* GOOD MORNING FRAME *************************/
#good-morning-name-frame {
  position: absolute;
  top: 548px;
  left: 968px;
  width: 365px;
  height: 136px;
}

#good-morning {
  color: #2A3647;
  font-family: Inter;
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

#person-name {
  color: var(--Light-blue, #29ABE2);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

/************************* NAV-FOOTER *************************/
#nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 16px;
  background-color: #2A3647;
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

/************************* RESPONSIVNESS *************************/
@media (max-width: 1310px) {
  #good-morning-name-frame {
    display: none
  }
}

@media (min-width: 975px) {
  #nav-footer {
    display: none
  }
}

@media (max-width: 975px) {
  #sidebar {
    display: none
  }

  #metrics-frame {
    left: 16px;
  }

  #summary-header {
    left: 16px;
  }

  #header-text {
    display: none;
  }

  #header {
    justify-content: flex-end;
  }

  .count-n {
    font-size: 47px;
  }

  .count-text {
    font-size: 14px;
  }

  #urgency-icon-box {
    width: 40px;
    height: 40px;
  }

  .metrics-icon {
    width: 40px;
    height: 40px;
  }

  .urgent-arrows {
    width: 23.2px;
    height: 16.6px;
  }
}

@media (min-width: 717px) {
  #logo-join-header {
    display: none;
  }

  #horizontal-stroke-blue {
    display: none;
  }
}

@media (max-width: 717px) {
  #header {
    padding: 20px 16px;
  }

  #help-icon-box {
    width: 100%;
    justify-content: space-between;
  }

  #summary-header {
    flex-direction: column;
    top: 128px;
    left: 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  #join-360 {
    font-size: 41px;
    line-height: normal;
  }

  #circle {
    width: 40px;
    height: 40px;
  }

  #icon-help {
    display: none;
  }

  #blue-divider {
    display: none;
  }

  #metrics-glance {
    font-size: 20px;
  }
}