/************************* GLOBAL SELECTORS *************************/
@font-face {
  font-family: "Inter";
  /* Gewünschter Name */
  src: url("/assets/fonts/inter-font.ttf");
}

body {
  background-color: #F6F7F8;
}

* {
  box-sizing: border-box;
}

/************************* HEADER *************************/
#summary-header {
  position: absolute;
  display: flex;
  gap: 30px;
  left: 328px;
  top: 206px;
  font-family: Inter;
  display: flex;
  align-items: center;
}

#join-360 {
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#metrics-glance {
  color: #2A3647;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/************************* METRICS BOX *************************/
#metrics-frame {
  position: absolute;
  top: 335px;
  left: 328px;
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

#todo-done-frame {
  display: flex;
  width: 560px;
  height: 168px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

#pencil-number-frame {
  display: flex;
  width: 264px;
  height: 168px;
  padding: 38px 19px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

#checkmark-number-frame {
  display: flex;
  width: 264px;
  height: 168px;
  padding: 38px 58px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10)
}

.number-do-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.do-styling {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

#todo {
  color: #2A3647;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/************************* URGENCY SUMMARY *************************/
#urgency-frame {
  display: flex;
  width: 560px;
  height: 168px;
  padding: 28px 48px;
  justify-content: center;
  align-items: center;
  gap: 61px;
  border-radius: 30px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

#urgency-icon-box {
  position: relative;
  width: 60px;
  height: 60px;
}

#urgent-eclipse,
#urgent-arrows {
  position: absolute;
}

#urgent-arrows {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#urgency-counter-icon-frame {
  display: flex;
  align-items: center;
  gap: 18px;
}

#counter-urgent-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#urgent-counter {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

#urgent {
  color: #2A3647;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}