/************************* GLOBAL SELECTORS *************************/
@font-face {
  font-family: "Inter";
  /* Gewünschter Name */
  src: url("/assets/fonts/inter-font.ttf");
}

/************************* HEADER *************************/
#summary-header {
  position: absolute;
  display: flex;
  gap: 30px;
  left: 328px;
  top: 206px;
  font-family: Inter;
  display: flex;
  align-items: center;
}

#join-360 {
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#metrics-glance {
  color: #2A3647;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#metrics-box{
display: flex;
width: 560px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 28px; 
}