<a href="./summary.html">
  <div class="footer-square tab4" onclick="changeClickedTab(4, `nav-footer`, footerFrameHTML, true)">
    <div class="icon-text-box">
      <img src="./assets/img/header_sidebar/icon_summary_grey.png" alt="">
      <span class="footer-square-text">Summary</span>
    </div>
  </div>
</a>
<a href="./board.html">
  <div class="footer-square tab5" onclick="changeClickedTab(5, `nav-footer`, footerFrameHTML, true)">
    <div class="icon-text-box">
      <img src="./assets/img/header_sidebar/icon_board_grey.png" alt="">
      <span class="footer-square-text">Board</span>
    </div>
  </div>
</a>
<a href="./add_task.html">
  <div class="footer-square tab6" onclick="changeClickedTab(6, `nav-footer`, footerFrameHTML, true)">
    <div class="icon-text-box">
      <img src="./assets/img/header_sidebar/icon_add_task_grey.png" alt="">
      <span class="footer-square-text">Add-Task</span>
    </div>
  </div>
</a>
<a href="./contacts.html">
  <div class="footer-square tab7" onclick="changeClickedTab(7, `nav-footer`, footerFrameHTML, true)">
    <div class="icon-text-box">
      <img src="./assets/img/header_sidebar/icon_contacts_grey.png" alt="">
      <span class="footer-square-text">Contacts</span>
    </div>
  </div>
</a>