<img src="/assets/img//header_sidebar/logo_join_sidebar.png" alt="">
<div id="sidebar-tabs">
  <a href="./summary.html">
    <div class="sidebar-tab single-tab tab0" >
      <img src="/assets/img//header_sidebar/icon_summary_grey.png" class="tab-img0" alt="">
      <span class="sidebar-text">Summary</span>
    </div>
  </a>
  <a href="./add_task.html">
    <div class="sidebar-tab single-tab tab1" >
      <img src="./assets/img//header_sidebar/icon_add_task_grey.png" class="tab-img1" alt="">
      <span class="sidebar-text">Add Task</span>
    </div>
  </a>
  <a href="./board.html"></a>
  <div class="sidebar-tab single-tab tab2" >
    <img src="./assets/img//header_sidebar/icon_board_grey.png" class="tab-img2" alt="">
    <span class="sidebar-text">Board</span>
  </div>
  </a>
  <a href="./contacts.html">
    <div class="sidebar-tab single-tab tab3">
      <img src="./assets/img//header_sidebar/icon_contacts_grey.png" class="tab-img3" alt="">
      <span class="sidebar-text">Contacts</span>
    </div>
  </a>
</div>

<div id="legal-notice">
  <a href="./privacy_policy.html">
    <span>Privacy Policy</span>
  </a>
  <a href="./legal_notice.html">
    <span>Legal Notice</span>
  </a>
</div>