<img src="/assets/img//header_sidebar/logo_join_sidebar.png" alt="">
<div id="sidebar-tabs">
  <div id="sidebar-tab">
    <img src="/assets/img//header_sidebar/icon_summary_grey.png" alt="">
    <span id="sidebar-text">Summary</span>
  </div>
  <div id="sidebar-tab">
    <img src="/assets/img//header_sidebar/icon_add_task_grey.png" alt="">
    <span id="sidebar-text">Add Task</span>
  </div>
  <div id="sidebar-tab">
    <img src="/assets/img//header_sidebar/icon_board_grey.png" alt="">
    <span id="sidebar-text">Board</span>
  </div>
  <div id="sidebar-tab">
    <img src="/assets/img//header_sidebar/icon_contacts_grey.png" alt="">
    <span id="sidebar-text">Contacts</span>
  </div>
</div>
<div id="legal-notice">
  <span>Privacy Policy</span>
  <span>Legal Notice</span>
</div>